force-app/main/default/flows/After_Territory_Record_Triggered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Add account record to the list</description>
        <name>Add_account_record_to_the_list</name>
        <label>Add account record to the list</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>accountListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_account_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_account_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Account owner of the current record.</description>
        <name>Update_Account_owner_of_current_record</name>
        <label>Update Account owner of current record</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Iterate_over_account_list.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_account_record_to_the_list</targetReference>
        </connector>
    </assignments>
    <description>This record-triggered flow will execute when someone updates the territory record.</description>
    <interviewLabel>After - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Territory After Record Triggered Flow</label>
    <loops>
        <description>Iterate over the account list and update the owner with the associated Territory owner.</description>
        <name>Iterate_over_account_list</name>
        <label>Iterate over account list</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Account_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Account_owner_of_current_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_records_owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Account records</description>
        <name>Get_Account_records</name>
        <label>Get Account records</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_account_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingPostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Account records owner</description>
        <name>Update_Account_records_owner</name>
        <label>Update Account records owner</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>accountListToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Territory__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Account list to update</description>
        <name>accountListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
