force-app/main/default/flows/Update_opportunities_owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Add current opportunity record to the list</description>
        <name>Add_current_opportunity_record_to_the_list</name>
        <label>Add current opportunity record to the list</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>opportunitiesListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_opportunities_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_opportunities_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign a new owner to Opportunity ( new owner = Account owner)</description>
        <name>Assign_a_new_owner_to_contact</name>
        <label>Assign a new owner to contact</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Iterate_over_opportunities_list.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_current_opportunity_record_to_the_list</targetReference>
        </connector>
    </assignments>
    <description>This is auto launched flow will be invoked from the &quot;After Account Record Triggered Flow&quot; flow and it updates all opportunities records related to the account.</description>
    <interviewLabel>Update opportunities owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update opportunities owner</label>
    <loops>
        <description>Iterate over the opportunities record and update the owner.</description>
        <name>Iterate_over_opportunities_list</name>
        <label>Iterate over opportunities list</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Opportunities_list</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_a_new_owner_to_contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_opportunities_owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all the opportunities records related to the provided account.</description>
        <name>Get_Opportunities_list</name>
        <label>Get Opportunities list</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_opportunities_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update opportunities owner records.</description>
        <name>Update_opportunities_owner</name>
        <label>Update opportunities owner</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>opportunitiesListToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunities_list</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The current account record will be passed from the &quot;After Account Record Triggered Flow&quot; flow.</description>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Opportunities record list to update.</description>
        <name>opportunitiesListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
